nav{
	background-color: #4C5E94;
}

nav a{
	color: #9a9a9a !important;	
}

.card{
	background-color: #ddd !important;
}

.card-header{
	background-color: #4C5E94 !important;
	color: #ddd !important;
	font-weight: 600;	
}

.btn{
	background-color: #ffad00 !important;

}

.btn-outline-info {
    border-color: #ec7e23 !important;
}

.btn:hover{
	background-color: #ec7e23 !important;
}