<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">URL Shortener</div>

                    <div class="card-body">
                        <img src="/../../../img/jack.png"
                        class="rounded mx-auto d-block mb-3"
                        alt="hee-ho"
                        width="200px"
                        height="175px">
                          <form @submit.prevent="generate()">
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Paste a link" aria-label="Paste a link" aria-describedby="hlink"
                              v-model="hlink"
                              pattern="([(https://)(http://])[\w\S]+"
                              required
                              @keyup.enter="generate()"
                              >
                              <div class="input-group-append">
                                <button type="submit" class="btn bg-info btn-outline-info text-white" id="hlink">Generate</button>
                              </div>
                          </div>
                         </form>


                        <div class="alert alert-success" role="alert" v-if="success">
                         <a :href="response" title="myLinks" target="_blank">{{response}}</a>
                         <a href="myLinks" class="btn btn-link" v-if="isAuth">Go to my Links</a>
                        </div>
                        <div class="alert alert-danger" role="alert" v-if="error">
                          There was an error. Check if the url you submitted was valid.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                hlink:'',
                success:false,
                error:false,
                response:'',
                isAuth: true


        }},
        methods:{
            resetStates(){
                this.success = false;
                this.error = false;
            },
            generate(){

                this.resetStates();

                const params = {
                    url : this.hlink.trim()
                };

                 axios.post("/generate", params).then(res => {
                    console.log(res.data);

                    if(res.data == undefined){
                      this.error = true;
                    }


                    if(res.data.user_id === 1){
                       this.isAuth = false; //hide mylinks
                    }

                    this.success = true;
                    this.response = res.data.generated;
                    this.hlink = '';

            });
            }
        }
    }
</script>
