<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">My Links</div>
                        <h4 class="card-title ml-2 mt-3">Your links:</h4>
                        <div v-if="links.length">
                            <div class="card text-white bg-light  mb-3 ml-3 mt-3"
                             style="max-width: 18rem;" v-for="(link, idx) in links">
                              <div class="card-header text-dark">
                                Actions
                                <button type="button" class="btn btn-alert bg-danger text-white"
                                style="float:right" @click="deleteLink(link.id, idx)">
                                 &times;
                                </button>
                            </div>
                              <div class="card-body">
                                    <p class="card-title text-dark">
                                        <a :href="link.original" title="">
                                        {{link.original}}</a>
                                    </p>
                                    <p class="card-text text-dark">
                                         <a :href="link.generated" title="">
                                        {{link.generated}}</a>
                                    </p>
                              </div>
                            </div>
                        </div>
                        <div class="container" v-else>
                            <p class="card-title text-dark">
                               Nothing to see here.
                            </p>
                        </div>


                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                links: [],
                link:{
                    original:'',
                    generated:'',

                }
            }
        },
        mounted(){
            this.getLinks();
        },
        methods:{
            getLinks(){
                    axios.get("/myLinks").then(res => {
                    this.links = res.data;
                });
            },
            deleteLink(id, idx){

                axios.delete("/delete/"+id).then(res=>{
                    this.links.splice(idx, 1);
                });

                this.getLinks();

            }
        }
    }

</script>
